*{
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 100px auto;
    width: 1000px;
    border:1px solid #777777;
}
h1{
    font-size: 30px;
    text-align: center;
}
.section{
    margin: 30px 0 0 0;
}
.item-Name{
    display: block;
}
.item-input input,.input-field input{
    height: 38px;
    width: 70%;
    border: none;
    border-bottom:1px solid #000000;
    margin: 0 0 20px 0;
}
input{
    height: 38px;
    width: 15%;
}
.row{
    margin-bottom: 20px;
}
.item-content {
    padding: 24px;
}
.item-title{
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 300;
}
form{
    display: block;
    margin-top: 0;
}
.btn{
    text-decoration: none;
    color: #ffff;
    background-color: #02c2a2;
    border: none;
}
.item-action{
    padding: 24px;
    border-top: 1px solid #b3b3b3;
}
.collection{
    border: 1px solid #e0e0e0;
    width: 70%;
    display: block;
}
a{
    width: 10%;
    display: block;
    padding:10px 23px 10px 23px;
    text-decoration: none;
    color: #ffff;
    background-color: #000000;
    border: none;
}
.space{
    padding-top:20px;
}

